@font-face {
    font-family: "Iran Yekan Light";
    src: url("yekan/light/iran-yekan-light.eot");
    src: url("yekan/light/iran-yekan-light.eot?#iefix") format("embedded-opentype"),
    url("yekan/light/iran-yekan-light.woff") format("woff"),
    url("yekan/light/iran-yekan-light.woff2") format("woff2"),
    url("yekan/light/iran-yekan-light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Iran Yekan";
    src: url("yekan/normal/iran-yekan-normal.eot");
    src: url("yekan/normal/iran-yekan-normal.eot?#iefix") format("embedded-opentype"),
    url("yekan/normal/iran-yekan-normal.woff") format("woff"),
    url("yekan/normal/iran-yekan-normal.woff2") format("woff2"),
    url("yekan/normal/iran-yekan-normal.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Iran Yekan Bold";
    src: url("yekan/bold/iran-yekan-bold.eot");
    src: url("yekan/bold/iran-yekan-bold.eot?#iefix") format("embedded-opentype"),
    url("yekan/bold/iran-yekan-bold.woff") format("woff"),
    url("yekan/bold/iran-yekan-bold.woff2") format("woff2"),
    url("yekan/bold/iran-yekan-bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}